<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<head>
  <meta charset="UTF-8">
  <title>Search_View</title>

  <style>

    button {
      border-radius: 4px;
      background-color: #4CAF50;
      color: #FFFFFF;
    }

    button.logout-button {
      background-color: #FF0000;
    }

    button.search-button {
      background-color: #008CBA;
    }

    div.user-div {
      float: right;
      margin-top: 10px;
      margin-right: 10px;
      display: block;
    }

    div.result-table-div {
      margin-left: 10px;
      margin-right: 10px;
    }

    div.detail-div {
      margin-left: 30px;
      margin-right: 30px;
    }

    button.detail-button {
      border-radius: 4px;
      background-color: #008CBA;
      color: #FFFFFF;
    }

    div.history-table-div {
      margin-left: 50px;
      margin-right: 50px;
    }

    div.popular-table-div{
      margin-left: 50px;
      margin-right: 50px;
    }

    div.detail-close-button {
      float: right;
    }

    div.page-button-div {
      display: table;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }

    button.page-button {
      border-radius: 0px;
      background-color: gainsboro;
      color: #000;
    }

    button.close-button {
      background-color: gainsboro;
      color: #000;
    }



    button.active-page {
      border-radius: 0px;
      color: #008CBA;
    }

    div.search-condition-div {
      float: left;
      margin-top: 50px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: block;
    }
  </style>
</head>
<body>
<div class="user-div" th:if="${session.userId}">
  <span th:text="'Hi ' + ${session.userId} + '!!'"></span>
  <button class="popular-button" onclick="openPopular()">Popular Search Words</button>
  <button class="history-button" th:onclick="openHistory()">Search History</button>
  <button class="logout-button" onclick="logout()">Log-Out</button>
</div>
<div>
  <div class="search-condition-div">
    <div>
      <label>query : </label>
      <input type="text" id="query-text">
      <label>sort : </label>
      <select id="sort-select">
        <option value="ACCURACY">정확도순</option>
        <option value="LATEST">최신순</option>
      </select>
      <label>target : </label>
      <select id="target-select">
        <option value="NONE">지정 안함</option>
        <option value="TITLE">제목 검색</option>
        <option value="ISBN">ISBN 검색</option>
        <option value="PUBLISHER">출판사 검색</option>
        <option value="PERSON">인명 검색</option>
      </select>
      <label>size : </label>
      <input type="number" id="size-text" value="10">
      <button class="search-button" onclick="searchBook(1)">Search</button>
    </div>
  </div>
  <div class="result-div" id="result-div">

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>

  var elements;

  var resultHtml = "";
  var detailHtml = "";
  var popularKeywordHtml = "";
  var historyHtml = "";

  function logout() {
    $.ajax({
      url: "/api/accounts/logout",
      type: "GET",
      success: function(data) {
        if(data===true) {
          window.location.href = "/account"
        } else {
          alert("log out failed due to system error");
        }
      },
      error: function (jqXHR) {
        alert("fail to log out : " + jqHR.status + jqXHR.message);
      }
    });
  }

  function openDetails(index) {

    $("#result-table-div").remove();
    $("#page-button-div").remove();
    $("#detail-div").remove();
    $("#popular-table-div").remove();
    $("#history-table-div").remove();

    detailHtml = "";

    detailHtml += "<div class='detail-div' id='detail-div'><table class='table table-bordered'>";
    detailHtml += "<tr><td><span>title</span></td><td><span>" + elements[index].title + "</span></td></tr>"
    detailHtml += "<tr><td><span>contents</span></td><td><span>" + elements[index].contents + "</span></td></tr>"
    detailHtml += "<tr><td><span>url</span></td><td><a href='" + elements[index].url + "'>book detail url</a></td></tr>"
    detailHtml += "<tr><td><span>isbn</span></td><td><span>" + elements[index].isbn + "</span></td></tr>"
    detailHtml += "<tr><td><span>datetime</span></td><td><span>" + elements[index].datetime + "</span></td></tr>"
    detailHtml += "<tr><td><span>authors</span></td><td><span>" + elements[index].authors + "</span></td></tr>"
    detailHtml += "<tr><td><span>publisher</span></td><td><span>" + elements[index].publisher + "</span></td></tr>"
    detailHtml += "<tr><td><span>translators</span></td><td><span>" + elements[index].translators + "</span></td></tr>"
    detailHtml += "<tr><td><span>price</span></td><td><span>" + elements[index].price + "</span></td></tr>"
    detailHtml += "<tr><td><span>sale_price</span></td><td><span>" + elements[index].sale_price + "</span></td></tr>"
    detailHtml += "<tr><td><span>thumbnail</span></td><td><img src='" + elements[index].thumbnail + "'></td></tr>"
    detailHtml += "<tr><td><span>status</span></td><td><span>" + elements[index].status + "</span></td></tr>"
    detailHtml += "</table>" +
      "<div class='detail-close-button'><button class='close-button' onclick='showResult()'>close</button></div></div>";

    $("#result-div").append(detailHtml);
  }

  function showResult() {
    $("#result-table-div").remove();
    $("#page-button-div").remove();
    $("#detail-div").remove();
    $("#popular-table-div").remove();
    $("#history-table-div").remove();
    $("#result-div").append(resultHtml);
  }

  function openHistory() {
    $("#result-table-div").remove();
    $("#page-button-div").remove();
    $("#detail-div").remove();
    $("#popular-table-div").remove();
    $("#history-table-div").remove();

    historyHtml = "";

    $.ajax({
      url: "/api/book/history",
      type: "GET",
      success: function (data) {
        if(data.success === true) {
          var historyies = data.data;

          historyHtml += "<div class='history-table-div' id='history-table-div'><table class=\"table table-bordered\" id=\"book-search-result\">" +
            "<thead>" +
            "<tr>" +
            "<th>순위</th>" +
            "<th>검색어</th>" +
            "<th>검색 날짜</th>" +
            "</tr>" +
            "</thead>";

          var index = 1;

          historyies.forEach(function (history) {
            historyHtml += "<tr><td>"+index.toString()+"</td><td>"+history.keyword+"</td><td>"+history.searchDate+"</td></tr>"

            index ++;
          });

          historyHtml += "</table><div class='detail-close-button'><button class='close-button' onclick='showResult()'>close</button></div></div></div>"

          $("#result-div").append(historyHtml);
        } else {
          alert(data.message);
        }
      },
      error: function (jqXHR) {
        alert("검색 기록을 불러올 수 없습니다 : " + jqHR.status + jqXHR.message);
      }
    });
  }

  function openPopular() {

    $("#result-table-div").remove();
    $("#page-button-div").remove();
    $("#detail-div").remove();
    $("#popular-table-div").remove();
    $("#history-table-div").remove();

    popularKeywordHtml = "";

    $.ajax({
      url: "/api/book/popular-keywords",
      type: "GET",
      success: function (data) {
        if(data.success === true) {
          var popularKeywords = data.data;

          popularKeywordHtml += "<div class='popular-table-div' id='popular-table-div'><table class=\"table table-bordered\" id=\"book-search-result\">" +
            "<thead>" +
            "<tr>" +
            "<th>순위</th>" +
            "<th>검색어</th>" +
            "</tr>" +
            "</thead>";

          var index = 1;

          popularKeywords.forEach(function (popularKeyword) {
            popularKeywordHtml += "<tr><td>"+index.toString()+"</td><td>"+popularKeyword.keyword+"</td></tr>"

            index ++;
          });

          popularKeywordHtml += "</table><div class='detail-close-button'><button class='close-button' onclick='showResult()'>close</button></div></div></div>"

          $("#result-div").append(popularKeywordHtml);
        } else {
          alert(data.message);
        }
      },
      error: function (jqXHR) {
        alert("인기 검색어를 불러올 수 없습니다 : " + jqHR.status + jqXHR.message);
      }
    });

  }

  function searchBook(page) {

    $("#result-table-div").remove();
    $("#page-button-div").remove();
    $("#detail-div").remove();
    $("#popular-table-div").remove();
    $("#history-table-div").remove();

    $.ajax({
      url: "/api/book/search",
      type: "GET",
      data: {
        query: document.getElementById("query-text").value,
        sort: document.getElementById("sort-select").value,
        target: document.getElementById("target-select").value,
        page: page,
        size: document.getElementById("size-text").value
      },
      success: function (data) {
        if (data.success === false) {
          alert(data.message)
        } else {
          if (data.data.result.length !== 0) {
            var searchResult = data.data;

            resultHtml =
              "<div class='result-table-div' id='result-table-div'><table class=\"table table-bordered\" id=\"book-search-result\">" +
              "<thead>" +
              "<tr>" +
              "<th>제목</th>" +
              "<th>출판사</th>" +
              "<th>저자</th>" +
              "<th>가격</th>" +
              "<th>상세보기</th>" +
              "</tr>" +
              "</thead>";
            resultHtml += "<tbody>"

            var index = 0;
            elements = searchResult.result;
            elements.forEach(function (element) {

              resultHtml += "<tr>";
              resultHtml += "<td><span>" + element.title + "</span></td>";
              resultHtml += "<td><span>" + element.publisher + "</span></td>";
              resultHtml += "<td><span>" + element.authors + "</span></td>";
              resultHtml += "<td><span>" + element.price + "</span></td>";
              resultHtml += "<td><button class='detail-button' onclick='openDetails(" + index + ")'>상세보기</button></td>"

              index++;
            });
            resultHtml += "</tbody></table></div>";

            var pageInfo = searchResult.pagination;

            resultHtml += "<div id='page-button-div' class='page-button-div'>";
            for (var i = pageInfo.startPage; i <= pageInfo.endPage; i++) {
              if (i !== 1 && i === pageInfo.startPage) {
                var prev = i - 1;
                resultHtml += "<button class='page-button' onclick='searchBook(" + prev + ")'>" + "<-" + "</button>";
              }
              if (i === pageInfo.page) {
                resultHtml += "<button class='page-button active-page' onclick='searchBook(" + i + ")'>" + i + "</button>";
              } else {
                resultHtml += "<button class='page-button' onclick='searchBook(" + i + ")'>" + i + "</button>";
              }
              if (i !== pageInfo.totalPages && i === pageInfo.endPage) {
                var next = i + 1;
                resultHtml += "<button class='page-button' onclick='searchBook(" + next + ")'>" + "->" + "</button>";
              }
            }

            resultHtml += "</div>"

            $("#result-div").append(resultHtml);
          } else {
            resultHtml = "";
            $("#result-div").append(resultHtml);
          }
        }
      },
      error: function (jqXHR) {
        alert("검색 오류 : " + jqXHR.status + jqXHR.statusText);
      }
    });
  }
</script>
</body>
</html>