<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<head>
  <meta charset="UTF-8">
  <title>Search_View</title>
</head>
<body>

  <div>
    <table class="table table-bordered" id="book-search-result">
      <thead>
        <tr><th>제목</th><th>출판사</th><th>저자</th><th>가격</th></tr>
      </thead>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
    $(function() {

    });
  </script>
</body>
</html>